/*
EmojiSymbols Font (c)blockworks - Kenichi Kaneko
http://emojisymbols.com/
*/
@font-face {
  font-family: "EmojiSymbols";
  src: url('fonts/EmojiSymbols-Regular.woff') format('woff');
  text-decoration: none;
  font-style: normal;
}

.form-style-8{
    width: 500px;
    padding: 0px;
    margin-left:auto;
    margin-right:auto;
    color:white;
}
.form-style-8 form a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
}
.form-style-8 form a:hover {
  color: rgba(255, 255, 255, 0.8);
}
.form-style-8 input[type="text"],
.form-style-8 textarea,
.form-style-8 select
{
  color:white;
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    background: transparent;
    margin-bottom: 10px;
    font: 16px Arial, Helvetica, sans-serif;
    height: 45px;
}
.form-style-8 textarea{
    resize:none;
    overflow: hidden;
}
.form-style-8 input[type="button"],
.form-style-8 input[type="submit"]{
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    -webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
    box-shadow: inset 0px 1px 0px 0px #45D6D6;
    background-color: #2CBBBB;
    border: 1px solid #27A0A0;
    display: inline-block;
    cursor: pointer;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
}

body {
  padding: 20px;
  font: 13px "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  background: #1192d3;
  text-align: center;
  color:white;
  background: rgb(0,18,99); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(0,18,99,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(0,18,99,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(0,18,99,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001263', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

a {
  color:white;
  text-decoration: underline;
  font-weight:bold;
}

#weather {
  margin-left:auto;
  margin-right:auto;
  margin-top:auto;
  margin-bottom:auto;
  width: auto;
  text-align: center;
  padding:5px;
  font-size:100em;
  font-size:100px;
  font-size:35vh;
  /*
  EmojiSymbols Font (c)blockworks - Kenichi Kaneko
  http://emojisymbols.com/
  */
  font-family: "EmojiSymbols", "Helvetica Neue", Helvetica, sans-serif;
  text-shadow: 0px 0px 10px rgba(150, 150, 150, 0.3);
  max-height: 50%;

}

#weatherButton {
  display:none;
}

#locationField {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
  font-size:20px;
  color: white;
  display:inline-block;
  text-align: center;
  border-bottom-color:rgba(255, 255, 255, 0.3);
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(255, 255, 255, 0.5);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.5);
}

:-ms-input-placeholder {
   color: rgba(255, 255, 255, 0.5);
}




.emoji {
  font-family: "Apple Color Emoji", "Helvetica Neue", Helvetica, sans-serif;
}

#weather img {
  width:1000px;
}

.box {
  margin-left:auto;
  margin-right:auto;
  padding:10px;
}

#weatherText {
  font-size:40px;
  text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.2);
}

#city {
  font-size:30px;
  text-shadow: 0px -2px 0px rgba(0, 0, 0, 0.2);
}

#twitter {
padding:40px;
}

#footer {
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  text-align: center;
}
